body {
  background: #eee;
  font-family: "times new roman", serif;
  line-height: 30px;
}

h1 {
  color: #aaa;
  font-size: 30px;
  line-height: 40px;
  font-style: italic;
  font-weight: 200;
  margin: 40px;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
}

.box {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  margin: 30px 5%;
  padding: 5%;
}

@media (min-width: 544px) {
  .box {
    margin: 40px auto;
    max-width: 440px;
    padding: 40px;
  }
}

.links, .links a {
    text-align: right;
    color: #888;
}

.tree ul:first-child {
    margin-left: 0;
    padding-left: 0;
}

.tree ul:not(:first-child) {
  margin-left: 10px;
  padding-left: 20px;
  border-left: 1px dashed #ddd;
}

.tree li {
  list-style: none;
  color: #888;
  font-size: 17px;
  font-style: italic;
  font-weight: normal;
}

.tree a {
  border-bottom: 1px solid transparent;
  color: #888;
  text-decoration: none;
  transition: all 0.2s ease;
}

.tree a:hover {
  border-color: #eee;
  color: #000;
}

.tree .folder ul {
    display: none;
}

.tree .folder, .tree .folder > a {
  color: #777;
  font-weight: bold;
}

.tree li:before {
  margin-right: 10px;
  content: "";
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  content: "📥";
}

.tree li.folder:before {
  content: "📁";
}
.tree li.out-of-depth-folder:before {
  content: "🖿";
}
